.copyright a{
    color: #AEB5C5;
}
.footer .copyright {
    color: #AEB5C5;
    margin: 0 0 4px;
    font-size: 15px;
    align:left;
}
.footer {
    padding: 10px 0;
    background-color: #222;

}
.separator {
    content: '';
    display: inline-block;
    background: #888;
    margin: 0px 4px;
    height: 18px;
    width: 1px;
    vertical-align: sub;
}
@media only screen and (min-width: 992px) {
        .media-object {
            display: block;
            width: 405.75px;
            height: 220px;
        }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .media-object {
        display: block;
        width: 350px;
        height: 220px;
    }
}

@media only screen and (min-width: 500px) and (max-width: 767px) {
    .media-object{
        display: block;
        width: 460px ;
        height: 460px ; } }

@media only screen and (min-width: 414px) and (max-width: 499px) {
    .media-object {
        display: block;
        width: 380px;
        height: 220px; } }

@media only screen and (min-width: 375px) and (max-width: 413px) {
    .media-object  {
        display: block;
        width: 341px ;
        height: 220px; } }

@media only screen and (min-width: 320px) and (max-width: 374px) {
    .media-object {
        display: block;
        width: 294px ;
        height: 200px ; } }

@media only screen and (min-width: 300px) and (max-width: 319px) {
    .media-object {
        display: block;
        width: 257px;
        height: 200px; } }
@media only screen and (min-width: 290px) and (max-width: 299px) {
    .media-object {
        display: block;
        width: 248px;
        height: 200px; } }

@media (min-width: 768px) {
    .article-design-on-home-page {
        border: 1px solid #f6f6f6;
        padding-bottom: 15px;
        height: 315px;
        color: black;
        overflow: hidden
    }
}

.article-design-on-home-page {
    border: 1px solid #f6f6f6;
    padding-bottom: 15px;
    color: black;
    overflow: hidden
}

@media (min-width: 768px) {
    .article-design-on-article-page {
        border: 1px solid #f6f6f6;
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-bottom-color: transparent;
        border-top-style: none;
        border-top-width: 0px;
        border-top-color: transparent;
        padding-bottom: 15px;
        color: black;
        overflow: hidden
    }
}
@media only screen
and (min-width: 300px)
and (max-width: 768px) {
    .article-design-on-article-page {
        border: 1px solid #f6f6f6;
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-bottom-color: transparent;
        border-top-style: none;
        border-top-width: 0px;
        border-top-color: transparent;
        padding-bottom: 15px;
        margin-top: 15px;
        color: black;
        overflow: hidden
    }
}


.article-details-title-class {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 3px;
}

.article-details-body-class {
    line-height: 1.3;
    margin-top: 8px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
}

.article-title-class {
    font-weight: bold;
    margin-bottom: 2px;
    color: #CC5A10;
}



.article-body-class {
    line-height: 1.3;
}

a.recent-updates-block-anchor {
    /*text-decoration: none;*/
}

body{
    /*font-family: "Bree Serif";*/
    font-size: 18px;
    line-height: 24px;
    /*color: #7f8c90;*/
    /*background-color: #AEB5C5;*/


}
.dropdown-menu-inverse > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #9d9d9d;
    white-space: nowrap;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #090909;
}

.dropdown-menu-inverse > li > a:hover,
.dropdown-menu-inverse > li > a:focus {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
}

.dropdown-menu-inverse {
    background-color: #222;
    color: #262626;
}

.navbar-brand {
    padding-top: 8px;
    padding-bottom: 8px;
}

.activeHome{
    color: #FFFFFF !important;
    background-color: #090909;
}

.navbar-search input {
    box-sizing: border-box;
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

#search{
    width: 200px;
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .nav > li > a {
        padding: 6px 6px;
        font-size: 17px;
    }
    #search{
        width:150px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 993px) {
    .nav > li > a {
        padding: 5px 5px;
        font-size: 15px;
    }
    #search{
        width:130px;
    }
}
@media only screen and (min-width: 374px)
and (max-width: 768px) {
    #search{
        width:120px;
    }
}
@media only screen and (min-width: 298px)
and (max-width: 374px) {
    #search{
        width:90px;
    }
}

/*.navbar-brand {*/
    /*padding: 15px 5px;*/
/*}*/
/*.nav > li > a {*/
/*padding: 10px 10px;*/
/*}*/
.navbar {min-height: 0px;
    margin-bottom: 10px;}
.navbar-brand {height: 40px;}
@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

#searchForm{
    margin-bottom:0px;
}

.fa-hand-o-down:before {
    content: "\f0a7";
    color: aliceblue;
    float: right !important;
}
.fa-2x {
    font-size: 1.5em;
}
.searchFormMenuSmallDevices{
    display: flex;
}
@media only screen and (min-width: 768px){
    .userAuthMenuSmallDevices, .searchFormMenuSmallDevices {
        display: none;
    }}
.timer{
    text-align: center;
    margin: 3px auto 0;
    padding: 0 0 10px;
    border-bottom: 2px solid #80a3ca;
}
 .timer .table-cell{
    display: inline-block;
    margin: 0 5px;
    width: 30px;
    background: url(../images/timer.png) no-repeat 50% 0%;
}
.timer .table-cell .tab-val{
    font-size: 20px;
    color: #80a3ca;
    height: 30px;
    line-height: 30px;
    margin: 0 0 5px;
}
.timer .table-cell .tab-metr{
    font-family: Arial;
    font-size: 12px;
    text-transform: uppercase;
}
#simple_timer.timer .table-cell.day,
#periodic_timer_days.timer .table-cell.hour{
    width: 30px;
    background-image: url(../images/timer.png);
}












.npcharts-button{
    visibility: hidden;
}
.article-title-class {
    font-weight: bold;
    margin-bottom: 2px;
    color: #CC5A10;
}
#main-content-holder {
    margin-top: 55px;
}

#main-content-holder, #adplaceholderonside {
    background-color: white;
    border: 1px solid white;

}

@media screen and (min-width: 768px) {
    #main-content-holder, #adplaceholderonside {
        border-radius: 5px;
        margin-top: 55px;
        border: 1px solid white;
    }
}
#main-content-holder {
    margin-top: 55px;
}

#main-content-holder, #adplaceholderonside {
    background-color: white;
    border: 1px solid white;

}

@media screen and (min-width: 768px) {
    #main-content-holder, #adplaceholderonside {
        border-radius: 5px;
        margin-top: 55px;
        border: 1px solid white;
    }
}
#alertDiv{
    margin-top: 40px;
}